In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
players = pd.read_csv("players_20.csv", header=0)
players.head(5)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [4]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB

In [6]:
countries = players.groupby('nationality').count()
countries

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
nationality,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Albania,43,43,43,43,43,43,43,43,43,43,...,40,40,40,40,40,40,40,40,40,40
Algeria,50,50,50,50,50,50,50,50,50,50,...,43,43,43,43,43,43,43,43,43,43
Angola,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Antigua & Barbuda,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,66,66,66,66,66,66,66,66,66,66,...,61,61,61,61,61,61,61,61,61,61
Vietnam,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Wales,117,117,117,117,117,117,117,117,117,117,...,103,103,103,103,103,103,103,103,103,103
Zambia,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
Zimbabwe,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12

In [18]:
plot = countries.sort_values(by='player_url', ascending=False).head(10)
plot

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
nationality,,,,,,,,,,,,,,,,,,,,,
England,1667,1667,1667,1667,1667,1667,1667,1667,1667,1667,...,1497,1497,1497,1497,1497,1497,1497,1497,1497,1497
Germany,1216,1216,1216,1216,1216,1216,1216,1216,1216,1216,...,1055,1055,1055,1055,1055,1055,1055,1055,1055,1055
Spain,1035,1035,1035,1035,1035,1035,1035,1035,1035,1035,...,922,922,922,922,922,922,922,922,922,922
France,984,984,984,984,984,984,984,984,984,984,...,881,881,881,881,881,881,881,881,881,881
Argentina,886,886,886,886,886,886,886,886,886,886,...,796,796,796,796,796,796,796,796,796,796
Brazil,824,824,824,824,824,824,824,824,824,824,...,751,751,751,751,751,751,751,751,751,751
Italy,732,732,732,732,732,732,732,732,732,732,...,630,630,630,630,630,630,630,630,630,630
Colombia,591,591,591,591,591,591,591,591,591,591,...,545,545,545,545,545,545,545,545,545,545
Japan,453,453,453,453,453,453,453,453,453,453,...,398,398,398,398,398,398,398,398,398,398
Netherlands,416,416,416,416,416,416,416,416,416,416,...,364,364,364,364,364,364,364,364,364,364

In [20]:
plt.bar(countries['nationality'], height=countries['player_url'], color = ('green'))

KeyError: 'nationality'